@import-normalize;

@import url(//fonts.googleapis.com/css?family=Codystar);

html, body {
  height: 100%;
  overflow: auto;
}

body{
    margin: 0;
    /* min-height: 100vh; */
    background-image: url(../assets/images/bball_court.jpg);
    background-size: 100% 100%;
    /* min-width: 650px; */
  }

  /* if in orientation mode, below shows */

  .rotate-screen-please {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20vmin;
  }

  .rotate-screen-please::before {    
    content: "";
    background-image: url(../assets/images/ref-angry-rotate.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
}

.rotate-please-para {
  padding: 0 5vmin;
}



/* if in orientation mode, above shows */

  .main-div {
    /* min-width: 650px; */
    width: 100%;
    height:100%;
    position: relative;
  }
  
  .loading-container{
    margin: 0;
     position: absolute;
     top: 50%;
     left: 51%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
  }
  
  .loading-text {
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
    color: black;
  }
  
  /* 100vh below so can align-items: center, hopefully it doesn't mess anything up later  */
  .cards-container { 
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    overflow: auto;
   
  }
  
  .basketball-container {
   height: 20vmin;
   margin: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex; /* to center in firefox */
  }
  
  /* last three lines to put glow around bball */
  .basketball {
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 4px white;
    animation: glow 1s linear infinite alternate;
    margin: 0 auto; /* to center in firefox */
  }
  
  .basketball:active {
    transform: translateY(10px);
  }
  
  @keyframes glow{
    to {
      box-shadow: 0px 0px 18px 12px white }
  }
  
  
  
  .name-container {
    position: absolute;
    width: 84%;
    height: 5%;
    top: 6.6%;
    font-size: 2.5vh;
    left: 10%;
}


  
  
  .year {
      float: right;
      padding-right: 5%;
  }
  
  .player-image-container {
    position: absolute;
    height: 43.5%;
    width: 83.05%;
    top: 12%;
    left: 8%;
  }
  
  .player-image {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .stats {
    position: absolute;
    width: 85%;
    height: 29%;
    top: 62%;
    font-size: 2.2vh;
    left: 7%;
  }
  
  .stats-paragraph {
    margin: 5%;
    width: 30%;
    
  }
  
  /* adding hover description of stats */
  .stats-hover {
    white-space: nowrap;
    font-weight: bold;
  }
  
  .stats-paragraph.left.PPG .stats-hover {
    display: none;
  }
  
  .stats-paragraph.left.PPG:hover .stats-before-hover {
    display: none;
  }
  
  .stats-paragraph.left.PPG:hover .stats-hover {
    display: inline-block;
    background-color: #EAEBE4;
    color:  rgb(163, 119, 6);
    padding: 1px 0;
  }
  
  .stats-paragraph.left.TSP .stats-hover {
    display: none;
  }
  
  .stats-paragraph.left.TSP:hover .stats-before-hover {
    display: none;
  }
  
  .stats-paragraph.left.TSP:hover .stats-hover {
    display: inline-block;
    background-color: #EAEBE4;
    color:  rgb(163, 119, 6);
    padding: 1px 0;
  }
  
  .stats-paragraph.left.APG .stats-hover {
    display: none;
  }
  
  .stats-paragraph.left.APG:hover .stats-before-hover {
    display: none;
  }
  
  .stats-paragraph.left.APG:hover .stats-hover {
    display: inline-block;
    background-color: #EAEBE4;
    color:  rgb(163, 119, 6);
    width: 120px;
   
  }
  
  .stats-paragraph.left.RPG .stats-hover {
    display: none;
  }
  
  .stats-paragraph.left.RPG:hover .stats-before-hover {
    display: none;
  }
  
  .stats-paragraph.left.RPG:hover .stats-hover {
    display: inline-block;
    background-color: #EAEBE4;
    color:  rgb(163, 119, 6);
    width: 145px;
    
  }
  
  .stats-paragraph.right.BPG .stats-hover {
    display: none;
  }
  
  .stats-paragraph.right.BPG:hover .stats-before-hover {
    display: none;
  }
  
  .stats-paragraph.right.BPG:hover .stats-hover {
    display: inline-block;
    background-color: #EAEBE4;
    color:  rgb(163, 119, 6);
    
  }
  
  .stats-paragraph.right.SPG .stats-hover {
    display: none;
  }
  
  .stats-paragraph.right.SPG:hover .stats-before-hover {
    display: none;
  }
  
  .stats-paragraph.right.SPG:hover .stats-hover {
    display: inline-block;
    background-color: #EAEBE4;
    color:  rgb(163, 119, 6);
  }
  
  .stats-paragraph.right.TPG .stats-hover {
    display: none;
    white-space: normal;
  }
  
  .stats-paragraph.right.TPG:hover .stats-before-hover {
    display: none;
  }
  
  .stats-paragraph.right.TPG:hover .stats-hover {
    display: inline-block;
    background-color: #EAEBE4;
    color:  rgb(163, 119, 6);
  }
  
  
  
  
  /* animation for stats comparisons */
  .animation {
    background-color: gold;
    border: dotted 1px black;
    animation: blinkingBackground 2s;
    animation-iteration-count: 1.5;
  }
  
  .animation:hover {
    border: none;
  }
  
  @keyframes blinkingBackground{
    0%		{ background-color: gold;}
    25%		{ background-color: transparent;}
    50%		{ background-color: gold;}
    75%		{ background-color: transparent;}
    100%	        { background-color: gold;}
  }
  
  .stats-right-container {
      float: right;
      position: absolute;
      top: 0;
      right: 15%;
      width: 50%;
  }
  
  .stats-paragraph.right {
    width: 50%;
    margin-left: 45%;
    margin-top: 10%;


  }
  
  /* to fade in fade out on customAlert and basketball button */
  .fade-in {
    animation: fadeIn ease .3s;
    -webkit-animation: fadeIn ease .3s;
    -moz-animation: fadeIn ease .3s;
    -o-animation: fadeIn ease .3s;
    -ms-animation: fadeIn ease .3s;
  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.fade-out {
    animation: fadeOut ease .3s;
    -webkit-animation: fadeOut ease .3s;
    -moz-animation: fadeOut ease .3s;
    -o-animation: fadeOut ease .3s;
    -ms-animation: fadeOut ease .3s;
  }@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

.custom-alert-container {
  width: 100%;
}

/* info and win and lose popups */

.info-component {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.winnerComponent {
  display: none;
  width: 100%;
  background-image: url(../assets/images/background-confetti.png);
  position: absolute;
  height: 100%;
  z-index: 2;
}

.loser-component {
  display: none;
  width: 100%;
  /* background-image: url(../assets/images/fans-booing.jpg);
  background-size: cover;
  opacity: .2; */
  position: absolute;
  height: 100%;
  z-index: 2;
}

/* MEDIA QUERIES */

/* @media (max-aspect-ratio: 133/100) {
  body {
    overflow-y: scroll;
  }

  .main-div {
    min-width: 650px;
    width: 100%;
    height:100%;
    position: relative;
    overflow-y: scroll;
  }
}  */

@media (orientation: portrait) {
  .main-div {
    display: none;
  }

  body {
    background-image: none;
    
  }

  .rotate-screen-please {
    display: inline-block;
  }

  .winnerComponent, .loser-component,
  .info-component {
    width: 0;
    position: fixed;
    height: 0;
    z-index: 2;
    visibility: hidden;
  }

}