.customAlert{
    /* overflow: visible; */
    
    display: none;
    position: fixed;
    max-width: 450px;
    min-width: 420px !important;
    min-height: 45%;
    height: 250px;
    left: 48%;
    top: 8.2%;
    /* padding: 10px; */
    box-sizing: border-box;
    margin-left: -12.5%;
    margin-top: -5.2%;
    background-image: url(../assets/images/nba-scoreboard.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: Codystar;
    font-weight: bolder;
    z-index: 1;
    /* border: 3px red solid; */
    /* box-shadow: 10px 15px 10px -15px #111;  */
  }
  
  .message-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 22.5%;
    top: 15%;
    max-width: 240px;
    min-width: 240px !important;
    min-height: 155px;
    height: 155px;
  }
  
  .message {
    /* margin-top: 53px; */
    /* max-width: 90%; */
    /* position: absolute; */
    /* left: 23.5%; */
    animation: blinkingText 1s 3;
  }
  
  @keyframes blinkingText{
    40%{		color:white;	}
    /* 49%{	color: white;	} */
    50%{	color: transparent;	}
    /* 99%{	color: white;	} */
      /* 100%{	color: white;	} */
  }
      
    .confirmButton {
      /* margin-top: 3rem; */
      position: absolute;
      left: 39%;
      top: 70%;
      background: none;
      /* color: white;
      /* color: tomato; */
      font-family: Codystar; 
      /* keeping font properties even though can't see text because it helps with sizing of button */
      font-weight: bolder;
      font-size: 1.5rem;
      padding: .75em 2em;
      border: none;
      cursor: pointer;
      z-index: 2;
    }
  
  .score-left,
  .score-right {
    position: absolute;
    /* width: 88px;
    height: 62px; */
    top: 69.5%;
    color: red;
    font-size: 3.75rem;
  }
  
  .score-left {
    left: 21%;
  }
  
  .score-right {
    left: 68%;
    /* top: 46%; */
  }

