.customAlert{
    display: none;
    position: fixed;
    /* max-width: 450px; */
    min-width: 40%;
    /* min-height: 45%; */
    height: 55%;
    top: .1%;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 10px; */
    box-sizing: border-box;
    background-image: url(/static/media/nba-scoreboard.85d02692.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-size: 4vh;
    font-family: Codystar;
    font-weight: bolder;
    z-index: 1;
  }
  
  .message-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    top: 5%;
    max-width: 80%;
    min-width: 80%;
    height: 54%;
  }
  
  .message {
    /* margin-top: 53px; */
    /* max-width: 90%; */
    /* position: absolute; */
    /* left: 23.5%; */
    animation: blinkingText 1s 3;
    padding: 10%;
  }
  
  @keyframes blinkingText{
    40%{		color:white;	}
    /* 49%{	color: white;	} */
    50%{	color: transparent;	}
    /* 99%{	color: white;	} */
      /* 100%{	color: white;	} */
  }
      
    .confirmButton {
      /* margin-top: 3rem; */
      position: absolute;
      left: 39%;
      top: 70%;
      background: none;
      /* color: white;
      /* color: tomato; */
      font-family: Codystar; 
      /* keeping font properties even though can't see text because it helps with sizing of button */
      font-weight: bolder;
      font-size: 1.5rem;
      padding: .75em 2em;
      border: none;
      cursor: pointer;
      z-index: 2;
    }
  
  .score-left,
  .score-right {
    position: absolute;
    /* width: 88px;
    height: 62px; */
    top: 69.5%;
    color: red;
    font-size: 10vh;
  }
  
  .score-left {
    left: 18%;
  }
  
  .score-right {
    left: 68%;
    /* top: 46%; */
  }

