.customAlert{
    display: none;
    position: absolute;
    /* max-width: 450px; */
    min-width: 30%;
    /* min-height: 45%; */
    height: 39%;
    top: .1%;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 10px; */
    box-sizing: border-box;
    background-image: url(/static/media/nba-scoreboard.85d02692.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-size: 3vh;
    font-family: Codystar;
    font-weight: bolder;
    z-index: 1;
  }
  
  .message-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    top: 5%;
    max-width: 80%;
    min-width: 80%;
    height: 62%;
  }
  
  .message {
    /* margin-top: 53px; */
    /* max-width: 90%; */
    /* position: absolute; */
    /* left: 23.5%; */
    animation: blinkingText 1s 3;
    padding: 10%;
  }
  
  @keyframes blinkingText{
    40%{		color:white;	}
    /* 49%{	color: white;	} */
    50%{	color: transparent;	}
    /* 99%{	color: white;	} */
      /* 100%{	color: white;	} */
  }

    /* .scores-and-button-container {
      position: absolute;
      display: flex;
      top: 64%;
      color: red;
      font-size: 10vh;

    } */
      
    .confirmButton {
      /* margin-top: 3rem; */
      position: absolute;
      left: 35.5%;
      top: 70%;
      width: 30%;
      background: none;
      /* color: white;
      /* color: tomato; */
      font-family: Codystar; 
      /* keeping font properties even though can't see text because it helps with sizing of button */
      font-weight: bolder;
      /* font-size: 1.5rem; */
      padding: .75em 2em;
      border: none;
      cursor: pointer;
      z-index: 2;
    }
  
  .score-left,
  .score-right {
    position: absolute; 
    width: 26%;
    height: 21%; 
    top: 68.5%;
    color: red;
    font-size: 7vh; 
  }
  
  .score-left {
    left: 11%;
  } 
  
  .score-right {
    left: 64%;
  }

  @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 155/100) {
    .message-container {
      font-size: 2.4vh;
      left: 10%;
      top: 6%;
      max-width: 80%;
      min-width: 80%;
      height: 44%;
    }

    .score-left,
    .score-right {
      width: 26%;
      height: 21%; 
      top: 51.5%;
      font-size: 5vh;
    }
    
    .score-left {
      left: 10%;
    } 
    
    .score-right {
      left: 62%;
    }

    .confirmButton {
      left: 35%;
      top: 47%;
      width: 30%;
      padding: 2.5em 2em;
     
    }
  }
  
 @media (min-aspect-ratio: 155/100) and (max-aspect-ratio: 1675/1000) {
    .message-container {
      font-size: 2.8vh;
      left: 10%;
      top: 5%;
      max-width: 80%;
      min-width: 80%;
      height: 55%;
    }

    .score-left,
    .score-right {
      width: 26%;
      height: 21%; 
      top: 62.5%;
      font-size: 6.5vh;
    }
    
    .score-left {
      left: 12%;
    } 
    
    .score-right {
      left: 65%;
    }

    .confirmButton {
      left: 35.5%;
      top: 60%;
      width: 30%;
      padding: 2.5em 2em;
     
    }
  }  

  @media (min-aspect-ratio: 2/1) {
    .message-container {
      font-size: 2.8vh;
      left: 20%;
      top: 5%;
      min-width: 60%;
      max-width: 60%;
      height: 66%;
    }

    .score-left,
    .score-right {
      width: 26%;
      height: 21%; 
      top: 74.5%;
      font-size: 6.5vh;
    }
    
    .score-left {
      left: 14%;
    } 
    
    .score-right {
      left: 61%;
    }

    .confirmButton {
      left: 35.5%;
      top: 69%;
      width: 30%;
    }
  }  

