

.mtg-card-container {
    position: absolute;
    width: auto;
    height: 75%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
  }
  
  .MTG-card {
   height: 100%;
  }

  /* media Queries */

@media (max-width: 750px) {
  .mtg-card-container {
    height: 85%;
    
  }
}
  
  
  