.mtg-card-flex-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mtg-card-container {
    position: absolute;
    height: 75%;
    min-width: 35%;
    max-width: 40%;
    /* overflow: hidden; */
  }
  
  .MTG-card {
   height: 100%;
   width: 100%;
  }

  /* media Queries */

@media (max-width: 750px) {
  .mtg-card-container {
    height: 85%;
    max-width: 35%;
    
  }
} 

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 134/100) {
  .mtg-card-container {
    min-width: 40%;
    max-width: 45%;
  }
}


@media (min-aspect-ratio: 190/100) {
  .mtg-card-container {
    min-width: 27%;
    max-width: 27%;
  }
}
  
  
  